.Controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

button {
  flex-grow: 1;
  margin: 0 5px;
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  background: var(--main-color);
  font-weight: bold;
  cursor: pointer;
  transition: all 200ms;

  &:active {
    box-shadow: 0 0 20px var(--main-color-darken) inset;
  }
}

.button {
  &--outlined {
    border: solid 2px var(--main-color);
    background: white;
    color: var(--main-color-darken);
  }
}
