.Controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  max-width: 320px;
}

button {
  margin: 0 5px;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background: var(--main-color);
  font-weight: bold;
  cursor: pointer;
  transition: all 200ms;
  flex-grow: 1;

  &:active {
    box-shadow: 0 0 20px var(--main-color-darken) inset;
  }
}