@use 'variables' as v;

.Day {
  &__ExerciseWrapper {
    display: flex;
    flex-direction: column;
    gap: v.$spacing-2;
    margin: v.$spacing 0;
    padding: v.$spacing-2 v.$spacing-4;
    border-radius: v.$borderRadius;
    background: #dadada;
  }

  &__ExerciseCategory {
    margin: 0;
    text-align: center;
  }

  &__Exercise {
    margin: 0 v.$spacing-4;
    padding: v.$spacing;
    border-radius: v.$borderRadius;
    background: white;
    color: black;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    font-weight: bold;
    text-decoration: none;
  }
}
